body {
    margin:0;
    padding:0;
    font-size: 14px;
    font-family: "Roboto",serif,Helvetica,Arial,sans-serif;
}

.visualisation {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    overflow: hidden;
}

/* STYLE */

.style-params {
   background-color: #89bdd3;
   color: #fff;
   flex-direction: row;
}

.style-elevchart {
   background-color: #9ad3de;
   color: #fff;
}

.style-waypoints {
   background-color: #e3e3e3;
   color: #c9c9c9;
}

.style-description {
   background-color: #c9c9c9;
   color: #fff;
}

/* LAYOUT */

.map {
    display: block;
    width:100%;
    flex: 1 1 auto;
}

.details {
    display: flex;
    flex: 0 0 200px;
    flex-direction: row;
    background-color: #ddd;
}

/* DETAIL - MENU */

.menu {
    display: flex;
    flex: 0 0 70px;
    flex-direction: column;
}

.menu-item {
    display: flex;
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* DETAIL - MENU */

.content {
    display: block;
    flex: 1 1 100%;
    height: 200px;
    flex-direction: column;
    // overflow: hidden;
}

.content-item {
    display: flex;
    height: 200px;
    width: calc(100% - 70px);
    bottom: 0px;
    position: absolute;
    transition: 300ms;
    opacity: 0;
    z-index: 1;
}

.active {
    opacity: 1;
    z-index: 2;
}

/* INFO */

.parameters-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.parameters-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
}

.parameters-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
}

.parameters-value, .parameters-label {
    text-align: center;
    align-content: center;
}

.trailname {
    font-size: 200%;
    padding-left: 50px;
}

.leftalign {
    text-align: left;
}

.odometer {
    font-size: 220%;
}

.parameters-value {
    font-size: 180%;
}

.maxelev, .minelev {
    font-size: 150%;
}

.parameters-label {
    font-size: 70%;
    opacity: 0.5;
}

.chart-pie {
    flex: 0 0 300px;
}

.info-elevation {
    font-size: 120%;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url('../svg/ic_landscape_black_24px.svg');
}

.label {
}

.value {
    padding-left: 10px;
}

.uphill {
    color: #932B2B;
}

.downhill {
    color: #2B932B;
}

.inline {
    display: flex;
    flex-direction: row;
}

.chart-elevation { 
    flex: 1 1 auto;
}

/* POPUP */

.popup {
    display: flex;
    max-width: 200px;
    flex-direction: column;
}

.popup-location-name {
    display: flex;
    padding: 5px 0;
    font-size: 140%;
}

.popup-location-pictogram {
    display: flex;
    padding: 5px 0;
}

.popup-location-pictogram img {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}

.popup-location-description {
    display: flex;
    padding: 5px 0;
}