#application {
    max-width: @screen-sm;
    box-sizing: border-box;

    @media (min-width:  @screen-sm) {
        margin: auto;
        margin-bottom: 10px;
    }
    @media (min-width:  @screen-md) {
        max-width: @screen-md;
    }
    @media (min-width:  @screen-lg) {
        max-width: @screen-lg;
    }

    #mapa {
    }
}